{% extends "base.html" %}
{% block header %}
  {% include "partials/pre-header.html" %}
  {{ super() }}
{% endblock header %}
{% block hero %}
{% if config.extra.announcement_visible is true %}
  <div class="announcement-banner">
    {% include "partials/announcement.html" %}
  </div>
{% endif %}
{% endblock hero %}
{% block content %}
  {% block breadcrumbs %}
    {% include "partials/breadcrumbs.html" %}
  {% endblock breadcrumbs %}
  {{ super() }}
{% endblock content %}
{% block footer %}
  {{ super() }}
  {% if config.extra.environment == "preview" or
        config.theme.language != "en" %}
    {% include "partials/disclaimer.html" %}
  {% endif %}
{% endblock footer %}
