    @media only screen and (max-width:76.1875em) {
        .md-nav__title {
            display: block;
        }
        .md-sidebar--secondary {
            display: none;
        }
        .md-nav--primary .md-nav__list {
            background-color: #4f4f4f !important;
        }
        .md-nav__source {
            display: none;
        }
        .md-nav__item--nested>.md-nav {
            color: #ffffff !important;
        }
        .md-nav__link--active {
            color:#ffffff !important;
        }
        .md-nav--primary .md-nav__title--site {
            background-color: #2980b9 !important;
        }
        .md-nav__title {
            font-weight: bold !important;
        }
        .footer_column {
            float: left;
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
        }
        .footer_wrapper {
            height: 100%;
            width: 66%;
            margin: 0 auto 25px;
            display: flex;
            justify-content: space-around;
            white-space: nowrap;
        }
    }