/* Variables from the CSC Design System: */
:root {
    --csc-border-radius: 4px;
    --csc-dark-grey: rgb(89, 89, 89);
    --csc-error: #e71d32;
    --csc-font-family: 'museo-sans', sans-serif;
    --csc-light-grey: rgb(223, 225, 227);
    --csc-light-grey-blue: rgb(204, 244, 240);
    --csc-lightest-grey: rgba(223, 225, 227, 0.5);
    --csc-link: #025B97;
    --csc-mid-grey: rgb(140, 140, 140);
    --csc-primary: rgb(0, 103, 120);
    --csc-background-color: #D8E8EA;
    --csc-code-background: #F0F6F7;
    --csc-important-background: #fdf3d1;
    --csc-primary-ghost: rgba(0, 103, 120, 0.15);
    --csc-primary-ghost-hover: rgba(0, 103, 120, 0.25);
    --csc-primary-hover: rgb(80, 151, 141);
    --csc-primary-text-hover: rgba(0, 103, 120, 0.15);
    --csc-success: #51a808;
    --csc-warning: #ff5800;
    --csc-important: #806420;
}

body {
    background-color: #ffffff;
}

.breadcrumbs {
    font-size: 14px;
    font-weight: 400;
    color: var(--csc-dark-grey);
    padding-bottom: 1em;
}

#edit-pencil {
    opacity: unset;
    font-size: 32px;
    color: var(--csc-light-grey);
    text-decoration: none;
}

#edit-pencil:hover {
    background-color: inherit;
    color: var(--csc-primary)
}

.md-typeset {
    color: var(--csc-dark-grey);
    font-size: 16px;
    font-weight: 400;
}

.md-typeset strong {
    font-weight: 700;
}

.md-typeset a,
.md-typeset a:link {
    text-decoration: underline;
    color: var(--csc-primary);
}

.md-typeset a:hover {
    color: var(--csc-primary);
    background-color: var(--csc-light-grey-blue);
}


.md-typeset table a {
    color: #0070a2 !important;
}

.md-typeset table th a {
    color: #ffffff !important;
}

.md-sidebar {
    background-color: var(--csc-primary);
    border: none;
    border-radius: 0px;
    margin-bottom: 0px;
}

.md-sidebar__scrollwrap {
    margin: 0;
}

#toc-title {
    color: var(--csc-primary);
    margin: 1.2rem 0 1.2rem 0;
    padding-left: 0.3rem;
    font-size: 16px;
}

.md-sidebar--secondary {
    background-color: var(--csc-background-color);
    margin-right: 0 !important;
    margin-left: 100% !important;
    padding: 0 0.4rem 0;
}

.md-sidebar--secondary .md-nav__link {
    color: var(--csc-dark-grey);
    font-weight: 400;
    padding: 1rem;
}

.md-nav__link[data-md-state=blur] {
    font-weight: 700;
}

.md-header {
    background-color: #ffffff;
    color: var(--csc-dark-grey);
    font-weight: bold;
}

.md-header[data-md-state="shadow"] {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.md-header img {
    -webkit-filter: invert(1);
    filter: invert(1);
}

.md-content {
    max-width: 850px;
    margin: 0 auto;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.md-typeset {
    font-size: 16px;
}

#welcometext {
    margin-bottom: 3rem;
    text-align: center;
}

.md-typeset h1 {
    color: var(--csc-dark-grey);
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.md-typeset h2 {
    color: var(--csc-dark-grey);
    font-size: 22px;
    font-weight: 600;
    margin-top: 1em;
}

.md-typeset h3 {
    color: var(--csc-dark-grey);
    font-size: 19px;
    font-weight:600;
}

.md-typeset .highlight {
    background-color: var(--csc-code-background);
}
.md-typeset code {
    font-size: 14px;
    font-weight: 500;
    color: var(--csc-dark-grey)
}

.md-typeset .md-typeset__table {
    padding: 0;
}

.md-typeset table {
    box-shadow: none !important;
    border: .1rem solid rgba(0, 0, 0, .07);
}

.md-typeset table th {
    min-width: 3rem !important;
    padding: .2rem .2rem !important;
    font-weight: bold;
    vertical-align: middle !important;
    text-align: center !important;
    background-color: rgba(0, 0, 0, .35) !important;
}

.md-typeset table td {
    font-weight: bold;
    color: #505050;
    padding: .2rem .0;
    border-right: .05rem solid rgba(0, 0, 0, .07);
    vertical-align: middle !important;
}

.md-typeset__scrollwrap {
    text-align: center;
    margin: 2em -.8rem;
}

.md-main__inner {
    padding: 0;
}

.md-grid {
    max-width: none;
}

.md-nav {
    color: #ffffff;
    font-size: .7rem;
}

.md-nav--primary {
    padding-left: 38px;
}

.md-nav__item {
    padding: 0.5rem 0 0.5rem 0;
}

.md-nav__item--nested>.md-nav {
    background-color: var(--csc-background-color);
    color: var(--csc-dark-grey);
    border-radius: 4px 0px 0px 4px;
}

.md-nav__item--nested .md-nav:hover {
    color: rgb(64, 64, 64);
}

.md-nav__item .md-nav__link::before {
    display: none;
}

.md-nav__item>.md-nav__link::after {
    display: none;
}

.md-nav__item--nested>.md-nav__link:after {
    font-family: Material Icons;
    font-size: 20px;
    content: "arrow_drop_down";
    transform-style: preserve-3d;
    transition: transform .4s, -webkit-transform .4s;
    vertical-align: -.125em;
    display: inline-block;
    margin-left: -0.25rem;
}

.md-nav__item--nested .md-nav__toggle~.md-nav__link::before {
    transform: rotate(-90deg);
}

.md-nav__item--nested .md-nav__toggle:checked~.md-nav__link::before {
    transform: none;
}

.md-nav__item--nested>.md-nav__link {
    font-weight: bold;
}

.md-nav__link {
    padding: 18px 29px;
    font-weight: 600;
    margin: 0;
    padding: 3px 0.5rem;
}

.md-nav__link--active {
    color: var(--csc-primary);
    background-color: #ffffff;
}

.md-nav__item--nested>.md-nav__link--active {
    color: var(--csc-primary);
    background-color: #ffffff;
}

.md-nav__title {
    display: none;
}

.md-search__inner {
    margin-right: 0;
    padding-right: 0;
    border-radius: 5%;
}

.md-typeset .admonition, .md-typeset details {
    color: var(--csc-important);
    background-color: var(--csc-important-background) !important;
    font-weight: 500;
    border: none;
    box-shadow: none;
}

.md-typeset .admonition > .admonition-title, .md-typeset .admonition > summary, .md-typeset details > .admonition-title, .md-typeset details > summary {
    background-color: var(--csc-important-background) !important;
    font-weight: 700;
    padding-left: .6rem !important;
    border: none;
}

div.mermaid {
    overflow: auto;
}

svg[id*="mermaid"] {
    width: auto;
    height: auto;
}

.admonition-title:before {
    display: none;
}

.md-footer a {
    color: var(--csc-dark-grey)
}

.md-footer-meta__inner {
    background-color: var(--csc-light-grey);
    color: var(--csc-dark-grey);
    padding: 1rem 2rem;
    overflow: auto;
}

html .md-footer-meta.md-typeset a {
    color: var(--csc-dark-grey)
}

.footer_column {
    float: left;
    width: 28%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.footer_wrapper {
    height: 100%;
    width: 66%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    white-space: nowrap;
}

img[src*="#frontpagelogo"] {
    margin-top: 0;
    width: 48px;
    transform: translate(0, 35%);
    padding-bottom: 1rem;
}

.md-typeset .md-content__icon {
    opacity: 80%;
}

img[src*="#headerlogo"] {
    width: 160px;
}

.md-header-nav__button {
    padding-top: 0.3rem;
}

.md-sidebar__scrollwrap::-webkit-scrollbar {
    background: none;
}

.md-sidebar__scrollwrap::-webkit-scrollbar-thumb {
    width: 0.15rem;
    background: #E0E0E0;
    border-radius: 2px;
}

.md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
    background: #888888;
}


.md-nav__link:focus {

    color: #ff5800;
}

.md-search__overlay {
    background-color: transparent;
}

.md-search__input  {
    background-color: var(--csc-light-grey);
    color: var(--csc-dark-grey);
    font-size: 16px;
    font-weight: 400;
}

.md-search__input+.md-search__icon {
    color: var(--csc-dark-grey);
}

::-webkit-input-placeholder {
    color: #4f4f4f !important;
    opacity: 1;
}

::-moz-placeholder {
    color: #4f4f4f !important;
    opacity: 1;
}

::-ms-placeholder {
    color: #4f4f4f !important;
    opacity: 1;
}

::placeholder  {
    color: #4f4f4f !important;
    opacity: 1;
}


.md-typeset ul {
    margin: 0;
}

.cc-revoke,
.cc-window {
    font-family: 'museo-sans' !important;
    background-color: var(--csc-important-background);
    color: var(--csc-important)
}