{% from 'sw-catalog-templates/macros/tags.html' import render_tag as tag %}

{% if app_meta.disciplines is sequence
      or app_meta.license is string
      or app_meta.available_on is sequence %}

  {% set system_tags %}
    {% if app_meta.available_on is sequence %}
      <c-tags class="app-tags">
        {% for system in app_meta.available_on %}
          {% if system is string %}
            {{ tag(system, '/sw-catalog') }}
          {% endif %}
        {% endfor %}
      </c-tags>
    {% endif %}
  {% endset %}

  {% set interface_tags %}
    {% if app_meta.available_on is sequence %}
      {% for system in app_meta.available_on %}
        {% if system is mapping %}
          {% if system.web_interfaces is sequence %}
            {% set web_uis = system.web_interfaces %}
            <c-tags class="app-tags">
              {% for web_ui in web_uis %}
                {% if web_ui is string %}
                  {{ tag(web_ui, '/sw-catalog', badge='Web UI') }}
                {% endif %}
              {% endfor %}
            </c-tags>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endset %}

  {% set discipline_tags %}
    {% if app_meta.disciplines is sequence %}
      <c-tags class="app-tags">
        {% for discipline in app_meta.disciplines %}
          {{ tag(discipline, '/sw-catalog', badge='discipline') }}
        {% endfor %}
      </c-tags>
    {% endif %}
  {% endset %}

  {% set license_tags %}
    {% if app_meta.license_type is string %}
      <c-tags class="app-tags">
        {{ tag(app_meta.license_type, '/sw_catalog', badge='license') }}
      </c-tags>
    {% endif %}
  {% endset %}

  <nav>
    <c-row gap="8">
      {{ system_tags }}
      {{ interface_tags }}
      {{ discipline_tags }}
      {{ license_tags }}
    </c-row>
  </nav>

{% endif %}
