---
sudo: false
dist: bionic
addons:
  apt:
    packages:
      - aspell
      - aspell-en
      - python3
      - python3-pip
      - python3-setuptools
before_install:
  - pip3 install --user wheel
  - pip3 install --user --requirement requirements.txt
  - go get github.com/client9/misspell/cmd/misspell
install:
#  - pip install --upgrade pip
script:

  # Checks all files for commonly misspelled English words with client9's misspell
  - bash tests/misspell.bash

  # Testing if the build works
  - bash tests/checkbuild.bash

  #Testing link related things
  # Broken site and section links, hidden files
  - python3 tests/python_link_tests/link_check.py
  # Test if any http urls point to docs.csc.fi
  - bash tests/check_internal_url.sh
  # Test if iframes contain src attribute
  - bash tests/check_youtube_embed.sh


  # Testing style-guide and slurm erros
  # Valid slurm commands
  - bash tests/check_commands.sh
  # Valid partitions
  - bash tests/check_partitions.sh
  # Dont set mail on by default
  - bash tests/check_mail_commands.sh
  # Use long slurm flags
  - bash tests/check_long_slurm_flags.sh
  # There should be no FIXME entires present
  - bash tests/check_fixme.sh
  # Test that no files are masked by folder/index.md
  - bash tests/check_masked.sh
  # Check that only one lvl 1 header per file and no jumps in depth
  - bash tests/check_headers.sh
  # Check that there are descriptions in links and images + check that urls are not used as an description
  - bash tests/check_description.sh
