---
sudo: false
dist: bionic
addons:
  apt:
    packages:
      - aspell
      - aspell-en
      - python3
      - python3-pip
      - python3-setuptools
before_install:
  - pip3 install --user --requirement requirements.txt
install:
#  - pip install --upgrade pip
script:
  # Checks all *.md files with aspell.
  # The number of spelling mistakes that are allowed.
  # Test will work properly when dictionary is large enough
  # Currently not in use. Enable when there is a proper plan
  # for usage
  #- bash tests/aspellcheck.bash 10000

  # Testing if there are any warnings
  - bash tests/checkwarnings.bash
  # Testing if the build works
  - bash tests/checkbuild.bash
 
 #Testing link related things
 # Test if any links in the markdown point to no-existing files
  - python3 tests/python_link_tests/check_broken_file_links.py
  # Test if any section links (so file.md#section) in the markdown are invalid 
  - python3 tests/python_link_tests/check_broken_section_links.py
  # Test if any http urls point to docs.csc.fi
  - bash tests/check_internal_url.sh 
  # Check if there are any files which are not referenced at all.
  - python3 tests/python_link_tests/check_hidden_files.py


  # Testing style-guide and slurm erros
  # Valid slurm commands
  - bash tests/check_commands.sh
  # Valid partitions
  - bash tests/check_partitions.sh
  # Dont set mail on by default
  - bash tests/check_mail_commented.sh
  # Use long slurm flags
  - bash tests/check_long_slurm_flags.sh
