site_name: Docs CSC
edit_uri: "https://github.com/CSCfi/csc-user-guide/edit/master/docs"
nav:
  - Home: index.md
  - Accounts:
     - Overview: accounts/index.md
     - How to create new user account: accounts/how-to-create-new-user-account.md
     - How to change password: accounts/how-to-change-password.md
     - How to manage user information: accounts/how-to-manage-user-information.md
     - How to create new project: accounts/how-to-create-new-project.md
     - How to add member to project: accounts/how-to-add-member-to-project.md
     - How to add service access for project: accounts/how-to-add-service-access-for-project.md
     - How to apply for resources: accounts/how-to-apply-for-resources.md
     - How to switch between projects: accounts/how-to-switch-between-projects.md
     - How to monitor resource usage: accounts/how-to-monitor-resource-usage.md
     - Billing: accounts/billing.md
     - FMI: accounts/FMI.md
  - Computing:
     - Overview: computing/overview.md
     - Systems: computing/system.md
     - Disk areas: computing/disk.md
     - Module environment: computing/modules.md
     - Running jobs: 
        - Getting started: computing/running/getting-started.md
        - Creating a batch job script: computing/running/creating-job-scripts.md
        - Submitting a job: computing/running/submitting-jobs.md
        - Available batch job partitions: computing/running/batch-job-partitions.md
        - Array jobs: computing/running/array-jobs.md
        - Example job scripts: computing/running/example-job-scripts.md
     - Compiling: computing/compiling.md
#     - Debugging: computing/debugging.md
#     - Performance analysis: computing/performance.md
  - Cloud:
     - Concepts of cloud computing: cloud/concepts.md
     - Pouta:
        - Contents: cloud/pouta/index.md
        - What is Pouta: cloud/pouta/pouta-what-is.md
        - Applying for Pouta Access: accounts/how-to-add-service-access-for-project.md
        - Security Guidelines for Pouta: cloud/pouta/security.md
        - Pouta Accounting Principles and Quotas: cloud/pouta/accounting.md
        - Virtual machine flavors and Billing Unit rates: cloud/pouta/vm-flavors-and-billing.md
        - Getting started with Pouta:
            - Launching a virtual machine with the cPouta web interface: cloud/pouta/launch-vm-from-web-gui.md
            - Connecting to your virtual machine: cloud/pouta/connecting-to-vm.md
            - Install command line tools: cloud/pouta/install-client.md
            - Command line client tools: cloud/pouta/command-line-tools.md
            - Virtual machine lifecycle & saving billing units: cloud/pouta/vm-lifecycle.md
        - Storage in Pouta:
            - Available storage options: cloud/pouta/storage.md
            - Ephemeral storage: cloud/pouta/ephemeral-storage.md
            - Persistent volumes: cloud/pouta/persistent-volumes.md
            - Snapshots: cloud/pouta/snapshots.md
        - Images: cloud/pouta/adding-images.md
        - Orchestration with Heat: cloud/pouta/heat-orchestration.md
        - Container Orchestration in cPouta: cloud/pouta/pouta-container-orchestration.md
        - Application Development Practises in Pouta: cloud/pouta/application-dev.md
        - Additional services in Pouta (email, dns): cloud/pouta/additional-services.md
        - Pouta videos: cloud/pouta/pouta-videos.md
        - Known problems and limitations: cloud/pouta/known-problems.md
        - FAQ:
            - How to create default network and router in a Pouta project: cloud/pouta/faq/how-to-create-default-network-and-router-in-pouta.md
            - How can I use FGCI grid form Pouta: cloud/pouta/faq/how-to-use-fgci-from-pouta.md
#            - How do I migrate away from legacy Pouta instances?: cloud/pouta/faq/
            - How do I use cPouta GPU for rendering?: cloud/pouta/faq/how-to-use-cpouta-gpu-for-rendering.md
            - How can I mount my Pouta Object Storage bucket to a VM running in cPouta: cloud/pouta/faq/how-to-mount-os-bucket-for-cpouta.md
#            - How do I migrate my data away from legacy volumes?: cloud/pouta/faq/
            - Do you offer SSL certificates?: cloud/pouta/faq/do-you-offer-ssl-certificates.md
            - Can I run MPI applications on Pouta?: cloud/pouta/faq/can-i-run-mpi-applications-on-pouta.md
            - How fast is the Pouta network?: cloud/pouta/faq/how-fast-is-the-pouta-network.md
            - Why can't I connect to my virtual machine in Pouta?: cloud/pouta/faq/why-cant-i-connect-to-my-vm-in-pouta.md
            - How do I access the CSC archive service from cPouta?: cloud/pouta/faq/how-to-access-csc-archive-services-from-cpouta.md
            - Can I access my CSC home/wrkdir/project directories from ePouta?: cloud/pouta/faq/how-to-access-home-wrkdir-projdir-from-epouta.md
            - What are volumes? How do I use them?: cloud/pouta/faq/what-are-volumes-and-how-to-use.md
            - Is Pouta backed up?: cloud/pouta/faq/is-pouta-backed-up.md
            - How can I store data on Pouta? : cloud/pouta/faq/how-to-store-data-in-pouta.md
            - What does it cost to use Pouta?: cloud/pouta/faq/what-does-it-cost-to-use-pouta.md
  - Data:
     - Allas object storage: 
        - Allas object storage: data/Allas/index.md 
        - Introduction to Allas Storage service: data/Allas/introduction.md
        - Accessing Allas: data/Allas/accessing_allas.md
        - Common Use Cases: data/Allas/using_allas/common_use_cases.md
        - Allas Clients: data/Allas/clients.md
        - Common Error Messages: data/Allas/using_allas/error_messages.md
        - Further information: data/Allas/further_info.md
        - cPouta object storage and Allas: data/Allas/allas_cpouta_change.md
        - Allas object storage related terms and concepts: data/Allas/terms_and_concepts.md
  - Applications:
     - In alphabetic order: apps/alpha.md
     - By discipline: apps/index.md
  - Support:
     - Tutorials: support/tutorials.md
     - Contact: support/contact.md
theme:
  name: windmill
  custom_dir: mkdocs_csc
extra:
  logo: img/CSC_LOGO_nega_pad.png
  article_nav: false
  footer: false

extra_css:
  - css/extra.css
extra_javascript:
  - https://use.fontawesome.com/e51b07f7f1.js
markdown_extensions:
  - toc:
      toc_depth: 2-6
  - admonition
  - attr_list
  - pymdownx.details
  - pymdownx.snippets
