site_name: CSC computing and data environment
repo_url: "https://github.com/CSCfi/csc-user-guide/"
edit_uri: "https://github.com/CSCfi/csc-user-guide/edit/develop/docs"
nav:
  - Home: index.md
  - Accounts:
     - Contents: accounts/index.md
     - Creating a new user account: accounts/creating-a-new-user-account.md
     - Getting student accounts for a course: accounts/getting-student-accounts-for-a-course.md
     - Getting machine-to-machine robot accounts: accounts/getting-machine-to-machine-robot-accounts.md
     - Getting accounts for international collaborators: accounts/getting-accounts-for-international-collaborators.md
     - Getting access to Pouta: accounts/get-access-to-pouta.md
     - Changing the password: accounts/changing-the-password.md
     - Managing user information: accounts/managing-user-information.md
     - Joining a project: accounts/joining-a-project.md
     - Creating a new project: accounts/creating-a-new-project.md
     - Adding members to a project: accounts/adding-members-to-a-project.md
     - Adding service access for a project: accounts/adding-service-access-for-a-project.md
     - Applying for resources: accounts/applying-for-resources.md
     - Switching between projects: accounts/switching-between-projects.md
     - Monitoring resource usage: accounts/monitoring-resource-usage.md
  - Connecting: connecting/index.md
  - Computing: computing/index.md
#     - The module system: computing/module-system.md
  - Cloud:
     - Contents: cloud/index.md
     - Concepts of cloud computing: cloud/concepts.md
     - Pouta:
        - Contents: cloud/pouta/index.md
        - What is Pouta: cloud/pouta/pouta-whati-is.md
        - Applying for Pouta Access: accounts/get-access-to-pouta.md
        - Security Guidelines for Pouta: cloud/pouta/security.md
        - Pouta Accounting Principles and Quotas: cloud/pouta/accounting.md
        - Virtual machine flavors and Billing Unit rates: cloud/pouta/vm-flavors-and-billing.md
        - Getting started with Pouta:
            - Launching a virtual machine with the cPouta web interface: cloud/pouta/launch-vm-from-web-gui.md
            - Connecting to your virtual machine: cloud/pouta/connecting-to-vm.md
            - Install command line tools: cloud/pouta/install-client.md
            - Command line client tools: cloud/pouta/command-line-tools.md
            - Virtual machine lifecycle & saving billing units: cloud/pouta/vm-lifecycle.md
        - Storage in Pouta:
            - Available storage options: cloud/pouta/storage.md
            - Ephemeral storage: cloud/pouta/ephemeral-storage.md
            - Persistent volumes: cloud/pouta/persistent-volumes.md
            - Snapshots: cloud/pouta/snapshots.md
        - Object storage:
            - Description: cloud/pouta/object-storage-main.md
            - Common use cases: cloud/pouta/object-storage-use-cases.md
            - Using object storage: cloud/pouta/using-object-storage.md
            - Access the object storage from Taito: cloud/pouta/access-pouta-object-storage-from-taito.md
            - Quotas and billing: cloud/pouta/object-storage-quotas-and-billing.md
            - Common Error Messages: cloud/pouta/object-storage-error-msgs.md
        - Images: cloud/pouta/adding-images.md
        - Orchestration with Heat: cloud/pouta/heat-orchestration.md
        - Container Orchestration in cPouta: cloud/pouta/pouta-container-orchestration.md
        - Application Development Practises in Pouta: cloud/pouta/application-dev.md
        - Additional services in Pouta (email, dns): cloud/pouta/additional-services.md
        - Pouta videos: cloud/pouta/pouta-videos.md
        - Known problems and limitations: cloud/pouta/known-problems.md
        - FAQ: cloud/pouta/faq.md
     - Rahti:
        - Contents: cloud/rahti/index.md
  - Data: data/index.md
  - Applications: apps/index.md
  - Support: support/index.md
theme:
#  name: material
#  name: readthedocs
  name: windmill
#  name: 'rtd-dropdown'
  custom_dir: custom_theme/
extra_css:
  - css/extra.css
extra_javascript:
  - https://use.fontawesome.com/e51b07f7f1.js
markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.details
  - pymdownx.snippets
