site_name: Docs CSC
edit_uri: "https://github.com/CSCfi/csc-user-guide/edit/master/docs"
site_url: "https://docs.csc.fi/"
site_description: Instructions and user guides for the CSC supercomputers, cloud services, storage and software, including FAQ and tutorials
nav:
  - Home: index.md
  - Accounts:
     - Overview: accounts/index.md
     - How to create new user account: accounts/how-to-create-new-user-account.md
     - How to change password: accounts/how-to-change-password.md
     - How to manage user information: accounts/how-to-manage-user-information.md
     - How to create new project: accounts/how-to-create-new-project.md
     - How to add members to project: accounts/how-to-add-members-to-project.md
     - How to add service access for project: accounts/how-to-add-service-access-for-project.md
     - How to manage your project: accounts/how-to-manage-your-project.md
     - How to apply for billing units: accounts/how-to-apply-for-billing-units.md
     - How to increase disk quotas: accounts/how-to-increase-disk-quotas.md
     - How to access Mahti large partition: accounts/how-to-access-mahti-large-partition.md
     - How to view billing unit usage: accounts/how-to-view-billing-unit-usage.md
     - Billing: accounts/billing.md
     - FMI: accounts/fmi.md
  - Computing:
     - Overview: computing/overview.md
     - Systems: 
        - Available systems: computing/available-systems.md
        - Puhti: computing/systems-puhti.md
        - Mahti: computing/systems-mahti.md
     - Connecting: computing/connecting.md
     - Supercomputer storage:
        - Disk areas: computing/disk.md
        - Lustre filesystem: computing/lustre.md
     - Module environment: computing/modules.md
     - Running jobs:
        - Getting started: computing/running/getting-started.md
        - Create Puhti batch jobs: computing/running/creating-job-scripts-puhti.md
        - Puhti example scripts: computing/running/example-job-scripts-puhti.md
        - Create Mahti batch jobs: computing/running/creating-job-scripts-mahti.md
        - Mahti example scripts: computing/running/example-job-scripts-mahti.md
        - Submitting a job: computing/running/submitting-jobs.md
        - Available batch job partitions: computing/running/batch-job-partitions.md
        - High throughput: computing/running/throughput.md
        - Interactive usage: computing/running/interactive-usage.md
        - Performance checklist: computing/running/performance-checklist.md
     - Compiling:
        - Puhti: computing/compiling-puhti.md
        - Mahti: computing/compiling-mahti.md
        - High performance libraries: computing/hpc-libraries.md
     - Debugging: computing/debugging.md
     - Performance analysis: computing/performance.md
     - Containers:
        - Running existing containers: computing/containers/run-existing.md
  - Cloud:
     - Concepts of cloud computing: cloud/concepts.md
     - Rahti:
       - Contents: cloud/rahti/index.md
       - What is Rahti: cloud/rahti/rahti-what-is.md
       - Containers & their Orchestration: cloud/rahti/containers.md
       - Kubernetes and OpenShift concepts: cloud/rahti/concepts.md
       - Getting Started:
         - Getting access: cloud/rahti/access.md
         - Using the web interface: cloud/rahti/usage/getting_started.md
         - Command line tool installation and usage: cloud/rahti/usage/cli.md
         - Security guide: cloud/rahti/usage/security-guide.md
       - Rahti Tutorials:
         - Deploying a static web server using the web interface: cloud/rahti/tutorials/basic-console.md
         - Deploying a static web server using the command line: cloud/rahti/tutorials/elemental_tutorial.md
         - Custom domain names and secure transport: cloud/rahti/tutorials/custom-domain.md
         - Configuration, ConfigMaps and Secrets: cloud/rahti/tutorials/configuration.md
         - Webhooks: cloud/rahti/tutorials/webhooks.md
         - Reverse proxy authentication using a sidecar container: cloud/rahti/tutorials/sidecar_proxy_authentication.md
         - Short introduction to YAML: cloud/rahti/tutorials/yaml_introduction.md
         - How to transfer data to Rahti?: cloud/rahti/tutorials/transfer_data_rahti.md
         - How to add docker hub credentials to a project: cloud/rahti/tutorials/docker_hub_login.md
         - How to manually cache images in Rahti's registry: cloud/rahti/tutorials/docker_hub_manual_caching.md
         - CI/CD on Rahti: cloud/rahti/tutorials/ci_cd_introduction.md
       - Storage in Rahti:
         - Available storage options: cloud/rahti/storage/index.md
         - Persistent volumes: cloud/rahti/storage/persistent.md
         - Ephemeral storage: cloud/rahti/storage/ephemeral.md
         - Sending e-mail from Rahti: cloud/rahti/tutorials/email.md
       - Images:
         - Overview: cloud/rahti/images/overview.md
         - Creating an image: cloud/rahti/images/creating.md
         - Keeping docker images small: cloud/rahti/images/keeping_docker_images_small.md
       - Rahti Templates: cloud/rahti/template-docs.md
       - Projects and quota: cloud/rahti/usage/projects_and_quota.md
       - Billing: cloud/rahti/billing.md
       - External documentation: cloud/rahti/ext_docs.md
     - Pouta:
        - Contents: cloud/pouta/index.md
        - What is Pouta: cloud/pouta/pouta-what-is.md
        - Security Guidelines for Pouta: cloud/pouta/security.md
        - Pouta Accounting Principles and Quotas: cloud/pouta/accounting.md
        - Virtual machine flavors and Billing Unit rates: cloud/pouta/vm-flavors-and-billing.md
        - Getting started with Pouta:
            - Launching a virtual machine with the cPouta web interface: cloud/pouta/launch-vm-from-web-gui.md
            - Connecting to your virtual machine: cloud/pouta/connecting-to-vm.md
            - Install command line tools: cloud/pouta/install-client.md
            - Command line client tools: cloud/pouta/command-line-tools.md
            - API Access to Pouta: cloud/pouta/api-access.md  
            - Virtual machine lifecycle & saving billing units: cloud/pouta/vm-lifecycle.md
        - Storage in Pouta:
            - Available storage options: cloud/pouta/storage.md
            - Ephemeral storage: cloud/pouta/ephemeral-storage.md
            - Persistent volumes: cloud/pouta/persistent-volumes.md
            - Snapshots: cloud/pouta/snapshots.md
        - Images:
            - Basic information about images: cloud/pouta/images.md
            - Creating, Converting, Uploading and Sharing virtual machine images: cloud/pouta/adding-images.md
        - Orchestration with Heat: cloud/pouta/heat-orchestration.md
        - Application Development Practises in Pouta: cloud/pouta/application-dev.md
        - Additional services in Pouta (email, dns): cloud/pouta/additional-services.md
        - Self study and troubleshooting:
             - Pouta videos: cloud/pouta/pouta-videos.md
             - Known problems and limitations: cloud/pouta/known-problems.md
     - FGCI:
             - Getting started:
                   - Overview: cloud/fgci/fgci-user-guide-overview.md
                   - Grid certificates: cloud/fgci/fgci-grid-certificates.md
                   - Joining the Virtual Organization: cloud/fgci/fgci-joining-the-fgi.csc.fi-virtual-organization.md
                   - ARC middleware: cloud/fgci/fgci-arc-middleware-overview.md
             - Using FGCI with ARC middleware:
                   - Job description files: cloud/fgci/fgci-job-description-files.md
                   - Executing grid jobs with ARC commands: cloud/fgci/fgci-executing-grid-jobs-with-arc-commands.md
                   - Using software through runtime environments: cloud/fgci/fgci-using-software-through-runtime-environments.md
                   - Running parallel applications in FGCI: cloud/fgci/fgci-running-parallel-applications.md
                   - Using arcrunner to run large job sets in FGCI: cloud/fgci/fgci-using-arcrunner-to-run-large-job-sets.md
                   - Using storage elements for data transport in FGCI: cloud/fgci/fgci-using-storage-elements-for-data-transport.md
             - The Grid Monitor: cloud/fgci/fgci-grid-monitor.md
  - Data:
     - Moving data:
        - Copying files using scp: data/moving/scp.md
        - Graphical file transfer tools: data/moving/graphical_transfer.md
        - Using rsync for data transfer and synchronization: data/moving/rsync.md
        - Using wget to download data from web sites to CSC: data/moving/wget.md
        - Sharing and transporting files using Funet FileSender: data/moving/funet.md
        - Moving data between IDA and CSC computing environment: data/ida/using_ida.md
        - Remote disk mounts: data/moving/disk_mount.md
     - Allas object storage:
        - Allas object storage: data/Allas/index.md
        - Introduction to Allas Storage service: data/Allas/introduction.md
        - Accessing Allas: data/Allas/accessing_allas.md
        - Common Use Cases: data/Allas/using_allas/common_use_cases.md
        - Allas Clients: data/Allas/clients.md
        - Common Error Messages: data/Allas/using_allas/error_messages.md
        - Further information: data/Allas/further_info.md
        - cPouta object storage and Allas: data/Allas/allas_cpouta_change.md
        - Allas object storage related terms and concepts: data/Allas/terms_and_concepts.md
     - Kaivos database service:
        - Kaivos overview: data/kaivos/overview.md
        - Getting a database account: data/kaivos/kaivos-account.md
        - MySQL client programs at CSC: data/kaivos/kaivos_client_in_puhti.md
        - Data import and export: data/kaivos/kaivos_import.md
        - Using MySQL client through batch job system: data/kaivos/kaivos_batch_job.md
        - Using kaivos.csc.fi directly from your local computer: data/kaivos/kaivos_remote.md
        - Using Perl MySQL API at CSC: data/kaivos/kaivos_perl.md
        # Python MySQL API at CSC:
     - Datasets: data/datasets.md
  - Applications:
     - In alphabetic order: apps/alpha.md
     - By discipline: apps/index.md
     - By availability: apps/by_system.md
  - Support:
     - Tutorials: support/tutorials/index.md
     - FAQ: support/faq/index.md
     - Training material: support/training-material.md
     - Contact: support/contact.md

theme:
  name: material
  custom_dir: mkdocs_csc/

  font:
    text: 'Raleway'
    code: 'Source Code Pro'

  logo: 'img/Docs_CSC_logo.svg#headerlogo"'

extra_css:
  - 'assets/stylesheets/extra.css'
  - 'assets/stylesheets/extra_mobile.css'

extra_javascript:
  - 'assets/javascripts/extra.js'

markdown_extensions:
  - toc:
      toc_depth: 2-6
  - admonition
  - attr_list
  - pymdownx.details
  - pymdownx.snippets

google_analytics:
  - 'UA-5406715-9'
  - 'auto'
