site_name: Docs CSC
edit_uri: "https://github.com/CSCfi/csc-user-guide/edit/master/docs"
site_url: "https://docs.csc.fi"
nav:
  - Home: index.md
  - Accounts:
     - Overview: accounts/index.md
     - How to create new user account: accounts/how-to-create-new-user-account.md
     - How to change password: accounts/how-to-change-password.md
     - How to manage user information: accounts/how-to-manage-user-information.md
     - How to create new project: accounts/how-to-create-new-project.md
     - How to add member to project: accounts/how-to-add-member-to-project.md
     - How to add service access for project: accounts/how-to-add-service-access-for-project.md
     - How to apply for resources: accounts/how-to-apply-for-resources.md
     - How to switch between projects: accounts/how-to-switch-between-projects.md
     - How to monitor resource usage: accounts/how-to-monitor-resource-usage.md
     - Billing: accounts/billing.md
     - FMI: accounts/FMI.md
  - Computing:
     - Overview: computing/overview.md
     - Systems: computing/system.md
     - Disk areas: computing/disk.md
     - Module environment: computing/modules.md
     - Running jobs:
        - Getting started: computing/running/getting-started.md
        - Creating a batch job script: computing/running/creating-job-scripts.md
        - Submitting a job: computing/running/submitting-jobs.md
        - Available batch job partitions: computing/running/batch-job-partitions.md
        - Array jobs: computing/running/array-jobs.md
        - Example job scripts: computing/running/example-job-scripts.md
        - Interactive usage: computing/running/interactive-usage.md
     - Compiling: computing/compiling.md
     - Containers:
        - Running existing containers: computing/containers/run-existing.md
#     - Debugging: computing/debugging.md
#     - Performance analysis: computing/performance.md
  - Cloud:
     - Concepts of cloud computing: cloud/concepts.md
     - Rahti: 
       - Home: cloud/rahti/index.md
       - Introduction:
         - Background: cloud/rahti/introduction/background.md
         # - Technical maturity: cloud/rahti/introduction/technical_maturity.md
         - Getting access: cloud/rahti/introduction/access.md
         # - Billing: cloud/rahti/introduction/billing.md # Uncomment when billing is enabled
       - Usage:
         - Getting started: cloud/rahti/usage/getting_started.md
         - Projects and quota: cloud/rahti/usage/projects_and_quota.md
         - Command line tool usage: cloud/rahti/usage/cli.md
         - Security guide: cloud/rahti/usage/security-guide.md
       - Tutorials:
         - Deploying applications from web console: cloud/rahti/tutorials/basic-console.md
         - Core objects: cloud/rahti/tutorials/elemental_tutorial.md
         - Utility objects: cloud/rahti/tutorials/advanced_tutorial.md
         - Design patterns: cloud/rahti/tutorials/patterns.md
       - Template documentation: cloud/rahti/template-docs.md
       # - Contact: cloud/rahti/contact.md
       - External documentation: cloud/rahti/ext_docs.md
       # - Agreements:
       #   - Terms of Use: cloud/rahti/agreements/terms_of_use.md
       #   - Service Level Agreement: cloud/rahti/agreements/sla.md
     - Pouta:
        - Contents: cloud/pouta/index.md
        - What is Pouta: cloud/pouta/pouta-what-is.md
        - Applying for Pouta Access: accounts/how-to-add-service-access-for-project.md
        - Security Guidelines for Pouta: cloud/pouta/security.md
        - Pouta Accounting Principles and Quotas: cloud/pouta/accounting.md
        - Virtual machine flavors and Billing Unit rates: cloud/pouta/vm-flavors-and-billing.md
        - Getting started with Pouta:
            - Launching a virtual machine with the cPouta web interface: cloud/pouta/launch-vm-from-web-gui.md
            - Connecting to your virtual machine: cloud/pouta/connecting-to-vm.md
            - Install command line tools: cloud/pouta/install-client.md
            - Command line client tools: cloud/pouta/command-line-tools.md
            - Virtual machine lifecycle & saving billing units: cloud/pouta/vm-lifecycle.md
        - Storage in Pouta:
            - Available storage options: cloud/pouta/storage.md
            - Ephemeral storage: cloud/pouta/ephemeral-storage.md
            - Persistent volumes: cloud/pouta/persistent-volumes.md
            - Snapshots: cloud/pouta/snapshots.md
        - Images:
            - Basic information about images: cloud/pouta/images.md
            - Creating, Uploading and Sharing virtual machine images: cloud/pouta/adding-images.md
        - Orchestration with Heat: cloud/pouta/heat-orchestration.md
        - Container Orchestration in cPouta: cloud/pouta/pouta-container-orchestration.md
        - Application Development Practises in Pouta: cloud/pouta/application-dev.md
        - Additional services in Pouta (email, dns): cloud/pouta/additional-services.md
        - Self study and troubleshooting:
             - Pouta videos: cloud/pouta/pouta-videos.md
             - Known problems and limitations: cloud/pouta/known-problems.md
             - Pouta FAQ: /support/faq#pouta
  - Data:
     - Moving data:
        - Copying files using scp: data/moving/scp.md
        - Graphical file transfer tools: data/moving/graphical_transfer.md
        - Using rsync for data transfer and synchronization: data/moving/rsync.md
        - Using wget to download data from web sites to CSC: data/moving/wget.md
        - Sharing and transporting files using Funet FileSender: data/moving/funet.md
        - Remote disk mounts: data/moving/disk_mount.md
     - Allas object storage:
        - Allas object storage: data/Allas/index.md
        - Introduction to Allas Storage service: data/Allas/introduction.md
        - Accessing Allas: data/Allas/accessing_allas.md
        - Common Use Cases: data/Allas/using_allas/common_use_cases.md
        - Allas Clients: data/Allas/clients.md
        - Common Error Messages: data/Allas/using_allas/error_messages.md
        - Further information: data/Allas/further_info.md
        - cPouta object storage and Allas: data/Allas/allas_cpouta_change.md
        - Allas object storage related terms and concepts: data/Allas/terms_and_concepts.md
  - Applications:
     - In alphabetic order: apps/alpha.md
     - By discipline: apps/index.md
  - Support:
     - Tutorials: support/tutorials/index.md
     - FAQ: support/faq/index.md
     - Contact: support/contact.md

theme:
  name: windmill
  custom_dir: mkdocs_csc
extra:
  logo: img/CSC_LOGO_nega_pad.png
  article_nav: false
  footer: false

extra_css:
  - css/extra.css
extra_javascript:
  - https://use.fontawesome.com/e51b07f7f1.js
markdown_extensions:
  - toc:
      toc_depth: 2-6
  - admonition
  - attr_list
  - pymdownx.details
  - pymdownx.snippets
