site_name: Docs CSC
edit_uri: "https://github.com/CSCfi/csc-user-guide/edit/master/docs"
nav:
  - Home: index.md
  - Accounts:
     - Creating new user account: accounts/creating-new-user-account.md
     - Changing password: accounts/changing-password.md
     - Managing user information: accounts/managing-user-information.md
     - Creating new project: accounts/creating-new-project.md
     - Adding member to project: accounts/adding-member-to-project.md
     - Adding service access for project: accounts/adding-service-access-for-project.md
     - Applying for resources: accounts/applying-for-resources.md
     - Switching between projects: accounts/switching-between-projects.md
  - Computing:
     - Systems: computing/system.md
     - Disk areas: computing/disk.md
     - Module environment: computing/modules.md
     - Running jobs: computing/running.md
     - Compiling: computing/compiling.md
#     - Debugging: computing/debugging.md
#     - Performance analysis: computing/performance.md
  - Applications:
     - By discipline: apps/index.md
     - In alphabetic order: apps/alpha.md
  - Support:
     - Tutorials: support/tutorials.md
     - Contact: support/contact.md
theme:
  name: windmill
  custom_dir: mkdocs_csc
extra:
  logo: img/CSC_LOGO_nega_pad.png
  article_nav: false
  footer: false

extra_css:
  - css/extra.css
extra_javascript:
  - https://use.fontawesome.com/e51b07f7f1.js
markdown_extensions:
  - toc:
      toc_depth: 2-6
  - admonition
  - attr_list
  - pymdownx.details
  - pymdownx.snippets
