# This is what we actually install
mkdocs==1.2.3
mkdocs-material==6.1.0
mkdocs-material-extensions==1.0.3
mdx-linkify==1.0
mdx-environment==0.2.0
yasha==4.1
pymdown-extensions==8.0.1
mkdocs-windmill==1.0.0
#mkdocs-rtd-dropdown==1.0.2

# These are dependencies of the above
backports-abc==0.5
backports.ssl-match-hostname==3.5.0.1
bleach==3.3.0
certifi==2017.11.5
click==7.1.2
future==0.18.2
html5lib==1.0.1
importlib-metadata>=2.0.0
Jinja2==2.11.3
joblib==0.17.0
livereload==2.6.3
lunr==0.5.8
Markdown==3.3.2
MarkupSafe==1.1.1
nltk>=3.6.4
Pygments==2.8.0
pytoml==0.1.14
PyYAML==5.4.1
regex>=2020.10.15
singledispatch==3.4.0.3
six==1.15.0
tornado==6.0.4
tqdm==4.50.2
webencodings==0.5.1
xmltodict==0.11.0
zipp==3.3.1
