{% extends "main.html" %}

{% block content %}

  {% include "partials/breadcrumbs.html" %}

  {{ page.content }}

  {% from 'sw-catalog/macros/apps.html'
     import render_group as app_group with context %}

  <c-tabs value="alpha">
    <c-tab value="alpha">In alphabetical order</c-tab>
    <c-tab value="discipline">By discipline</c-tab>
    <c-tab value="availability">By availability</c-tab>
    <c-tab value="license">By license</c-tab>

    <c-tab-items slot="items">

      <c-tab-item value="alpha">
        {{ app_group('Applications in alphabetical order', catalog.alphabetical) }}
      </c-tab-item>

      <c-tab-item value="discipline">
        {{ app_group('Applications by discipline',
                     catalog.by_discipline,
                     exclude_tags=['discipline']) }}
      </c-tab-item>

      <c-tab-item value="availability">
        {{ app_group('Applications by availability',
                     catalog.by_availability,
                     exclude_tags=['availability']) }}
      </c-tab-item>

      <c-tab-item value="license">
        {{ app_group('Applications by license',
                     catalog.by_license,
                     exclude_tags=['license']) }}
      </c-tab-item>

    </c-tab-items>
  </c-tabs>

  {% include "partials/feedback.html" %}
{% endblock content %}
