.csc-breadcrumbs {
  margin-bottom: .6rem;
}

.csc-breadcrumbs ul {
  display: flex !important;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 0 .6em 0 !important;
}

.csc-breadcrumbs li {
  margin: 0 !important;
}

.csc-breadcrumbs .twemoji {
  margin: 0 0 0 1em;
}

.csc-breadcrumbs li > p,
.csc-breadcrumbs li > p > a {
  color: var(--md-default-fg-color) !important;
  text-decoration: none !important;
  white-space: nowrap;
  margin-bottom: 0 !important;
}

.csc-breadcrumbs li:not(:first-child) > p {
  margin-left: 1em;
}
.csc-breadcrumbs > ul > li a:is(:focus, :hover) {
  color: var(--md-accent-fg-color) !important;
  background-color: transparent !important;
}
