.csc-footer {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  font-size: medium;
}

@media screen and (min-width: 50em) {
  .csc-footer {
    flex-direction: row;
    padding: 3% 10%;
  }
}

@media screen and (max-width: 49.9375em ) {
  .csc-footer {
    flex-direction: column;
    padding: 5%;
  }
}

.csc-footer__column {
  flex-grow: 1;
}

.csc-footer__heading {
  font-weight: var(--csc-font-weight--bold);
  margin-bottom: 1rem;
}

.csc-footer__body {
  font-weight: var(--csc-font-weight--regular);
  margin-bottom: 1rem;
}

.csc-footer__body ul {
  list-style-type: none;
  padding: unset;
}

.csc-footer__body .twemoji :is(svg) {
  height: 1em;
  fill: var(--md-footer-fg-color);
}

.csc-footer__link {
  text-decoration: underline;
  transition: background-color 125ms;
}

.csc-footer__link:is(:active, :hover) {
  background-color: var(--md-accent-bg-color);
}

footer .preview-commit {
  color: var(--c-accent-200);
  font-size: small;
}

footer .preview-commit > a.preview-commit-link {
  font-family: monospace;
  font-weight: var(--csc-font-weight--bold);
  font-size: medium;
  color: var(--c-accent-500);
}

footer .md-footer-meta.md-typeset a {
  transition:
    transform 125ms,
    color 125ms;
}

footer .md-footer-meta.md-typeset a:is(:hover,:active) {
  color: var(--md-footer-fg-color--lighter);
  background-color: unset;
  transform: scale(1.25);
}

footer .md-social__link svg {
  max-height: 1rem;
  vertical-align: middle;
}
