{%- macro alt_link(alt) -%}
{%- set original_language = "en" -%}
{%- if page is none -%}
{{- alt.link | url -}}
{%- elif alt.lang == lang.t("meta.lang_code") -%}
{{- page.url | url -}}
{%- else -%}
{%- set prefix = "/{}/".format(lang.t("meta.lang_code"))
    if lang.t("meta.lang_code") != original_language
    else "/" -%}
{{- alt.link ~ page.abs_url.removeprefix(prefix) -}}
{%- endif -%}
{%- endmacro -%}
<style scoped>
  .md-select > button.md-icon > svg {
    display: inline;
    vertical-align: bottom;
    margin: 0 .3rem;
    width: 1.2rem;
    height: 1.2rem;
  }
  .md-select > button.md-icon:hover {
    opacity: 1;
  }
  .md-select > button.md-icon:hover > span {
    color: var(--c-primary-600);
  }
</style>
<div class="md-header__option">
  <div class="md-select">
    {% set icon = config.theme.icon.alternate %}
    <button class="md-header__button md-icon" aria-label="{{ lang.t('select.language') }}">
      <span style="font-size: small; vertical-align: super;">
        {{- (config.extra.alternate
             | selectattr("lang", "equalto", lang.t("meta.lang_code"))
             | list
             | first).name -}}
      </span>
      {% include ".icons/" ~ icon ~ ".svg" %}
    </button>
    <div class="md-select__inner">
      <ul class="md-select__list">
        {% for alt in config.extra.alternate %}
          <li class="md-select__item">
            <a href="{{ alt_link(alt) }}" hreflang="{{ alt.lang }}" class="md-select__link">
              {{ alt.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>