{% macro breadcrumb(item, title=none) %}
{% set item_title = title if not title is none else item.title %}
{%- set item_icon -%}
<span class="twemoji">
{%- if item.url is defined -%}
{%- include ".icons/material/chevron-double-right.svg" -%}
{%- elif item.title is defined -%}
{%- include ".icons/material/chevron-right.svg" -%}
{%- endif -%}
</span>
{%- endset -%}
<li>
{% if item.url is defined %}
  <p><a href="{{ item.url | url }}">{{ item_title }}{{ item_icon }}</a></p>
{% else %}
  <p>{{ item_title }}{{ item_icon }}</p>
{% endif %}
</li>
{% endmacro %}
<nav class="md-nav csc-breadcrumbs">
{% set page_ancestors = page.ancestors or adoptive_ancestors or [] %}
  <ul>
    {{ breadcrumb(nav.homepage, title=config.site_name) }}
  {%- for ancestor in page_ancestors[::-1] -%}
    {{ breadcrumb(ancestor) }}
  {%- endfor -%}
  {% if not page.is_homepage %}
    {{ breadcrumb(none, title=page.title) }}
  {% endif %}
  </ul>
</nav>
