{%- if page %}
    {% macro sentence_case(text) %}
        {{ text[0]|upper}}{{text[1:] }}
    {% endmacro %}
    {% set parent_url = "/" + "/".join(page.url.split("/")[:-2]) + "/" %}
    {% set parent_name = sentence_case(page.url.split('/')[0]) %}
    {# Redirect some breadcrumb urls (at least for now): #}
    {% set parent_url = parent_url.replace("/wn/", "/whats-new/", -1) %}
    {% set parent_url = parent_url.replace("env-guide/", "", -1) %}
    {% set parent_url = parent_url.replace("gis/", "", -1) %}
    {# Some pages don't have ancestor sections in nav... #}
    {% set sections = {
        "/apps/": "Applications",
        "/support/tutorials/": "Tutorials",
        "/support/faq/": "FAQ",
        "/support/training-material/": "Training material",
        "/support/contact/": "Contact",
        "/support/whats-new/": "What's new"
    } %}
    <nav class="csc-breadcrumbs">
        {% if not page.is_homepage %}
            <a class="csc-breadcrumbs__link" href="{{ base_url }}">Docs CSC</a>
        {% endif %}
        {# ...so breadcrumbs must be defined literally: #}
        {% if not page.ancestors and parent_url in sections %}
            <a class="csc-breadcrumbs__link" href="{{ parent_url }}">{{ sections[parent_url] }}</a>
        {% endif %}
        {% if not page.ancestors %}
            <a class="csc-breadcrumbs__link" href="{{ document_url }}">{{ parent_name }}</a>
        {% endif %}
        {% set depth = page.ancestors|length+2 %}
        {%- for document in page.ancestors[::-1] -%}
            {% set document_url = "/" + "/".join(page.url.split("/")[:(-depth)+loop.index:]) + "/" %}
            <a class="csc-breadcrumbs__link" href="{{ document_url }}">{{ document.title }}</a>
        {%- endfor -%}
        {% if not page.is_homepage %}
            {{ page.title }}
        {% endif %}
    </nav>
{%- endif %}
