<div style="
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  font-family: monospace;
  font-size: large;
  background-color: black;
  color: white;
">
  <p style="text-decoration: underline;">{{ page }}</p>
  {% if parent_url in sections %}
    <p>parent_url: {{ parent_url }}</p>
    <p>sections[parent_url]: {{ sections[parent_url] }}</p>
  {% endif %}
  {% if page.ancestors %}
    <p>ancestors:</p>
    <ul>
      {% for anc in page.ancestors %}
        <li>{{ anc }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
