{%- if page %}
    {% set parent_url = ("/" + "/".join(page.url.split("/")[:-2]) + "/")
        |replace("/wn/", "/whats-new/") %}
    {# Breadcrumbs are defined literally for pages that don't have ancestors: #}
    {% set breadcrumbs = {
        "/faq/": [
            { "url": "/faq/", "text": "FAQ" }
        ],
        "/tutorials/": [
            { "url": "/tutorials/", "text": "Tutorials" }
        ],
        "/tutorials/env-guide/": [
            { "url": "/tutorials/", "text": "Tutorials" },
            { "url": "/tutorials/env-guide/", "text": "Linux tutorials" }
        ],
        "/tutorials/gis/": [
            { "url": "/tutorials/", "text": "Tutorials" },
            { "url": "/tutorials/gis/", "text": "Geoinformatics tutorials" }
        ],
        "/whats-new/": [
            { "url": "/whats-new/", "text": "What's new" }
        ],
    } %}
    <nav class="csc-breadcrumbs">
        {% if not page.is_homepage %}
            <a class="csc-breadcrumbs__link" href="{{ base_url }}">Docs CSC</a>
        {% endif %}
        {%- for ancestor in page.ancestors[::-1] -%}
            {% if ancestor.is_page %}
                <a class="csc-breadcrumbs__link" href="/{{ ancestor.url }}">{{ ancestor.title }}</a>
            {% endif %}
        {%- endfor -%}
        {% if not page.ancestors and parent_url in breadcrumbs %}
            {% for breadcrumb in breadcrumbs[parent_url] %}
                <a class="csc-breadcrumbs__link" href="{{ breadcrumb['url'] }}">{{ breadcrumb['text'] }}</a>
            {% endfor %}
        {% endif %}
        {% if not page.is_homepage %}
            {{ page.title }}
        {% endif %}
    </nav>
    {% if config.extra.breadcrumbs_debug %}
        {% include "partials/breadcrumbs-debug.html" %}
    {% endif %}
{%- endif %}
