{% from "partials/commit.html" import commit_link %}
<div id="disclaimer-container">
  <div class="disclaimer preview">
    <p class="disclaimer-title">You are viewing a developmental build</p>
    <p class="disclaimer-content">The content on this page has not been approved for release.</p>
    {% if page and page.git %}
    {{ commit_link(page.git.head, config.repo_url, status=page.git.status) }}
    {% endif %}
    <div class="button-row">
      <a href="https://docs.csc.fi/">Visit official site</a>
      <a class="close-button">Close</a>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const STORAGE_KEY = "acknowledgedDisclaimers"
    const CONTAINER_ID = "disclaimer-container"

    const getAcknowledgedDisclaimers = () => {
      try {
        return JSON.parse(sessionStorage.getItem(STORAGE_KEY))
      } catch (e) {
        console.error(e)
        return null
      }
    }

    const setAcknowledgedDisclaimers = disclaimersObject => {
      try {
        sessionStorage.setItem(STORAGE_KEY, JSON.stringify(disclaimersObject))
      } catch (e) {
        console.error(e)
      }
    }

    const populateAcknowledgedDisclaimers = () => {
      if (!getAcknowledgedDisclaimers()) {
        setAcknowledgedDisclaimers({ preview: false })
      }
    }

    const getDisclaimerElem = className => {
      const containerElem = document.getElementById(CONTAINER_ID)

      return containerElem.querySelector(`.disclaimer.${className}`)
    }

    const hideDisclaimer = disclaimerElem => disclaimerElem.style.scale = 0
    const showDisclaimer = disclaimerElem => disclaimerElem.style.display = "block"
    const acknowledgeDisclaimer = disclaimerClassName => {
      const disclaimerElem = getDisclaimerElem(disclaimerClassName)
      const acknowledgedDisclaimers = getAcknowledgedDisclaimers()

      if (acknowledgedDisclaimers) {
        acknowledgedDisclaimers[disclaimerClassName] = true

        setAcknowledgedDisclaimers(acknowledgedDisclaimers)
      }

      hideDisclaimer(disclaimerElem)
    }

    const initializeDisclaimers = () => {
      populateAcknowledgedDisclaimers()

      const acknowledgedDisclaimers = getAcknowledgedDisclaimers()

      if (acknowledgedDisclaimers) {
        Object.entries(acknowledgedDisclaimers).forEach(([className, acknowledged]) => {
          const disclaimerElem = getDisclaimerElem(className)

          if (disclaimerElem && !acknowledged) {
            const disclaimerCloseButtonElem = disclaimerElem.querySelector(".close-button")

            disclaimerCloseButtonElem.addEventListener("click", event => {
              event.preventDefault()

              hideDisclaimer(disclaimerElem)
              acknowledgeDisclaimer(className)
            })

            showDisclaimer(disclaimerElem)
          }
        })
      }
    }

    initializeDisclaimers()
  })
</script>
