{% set feedback = config.extra.analytics.feedback %}
{% set edited = page.meta.git_revision_date_localized_raw_custom|string %}
{% set source = page.file.src_path %}
{% if not page.is_homepage and source not in feedback.exclude %}
<form name="feedback" class="csc-feedback"
  data-source-edited="{{ edited[:-2]+':00' }}"
  data-source-path="{{ source }}">
  <fieldset>
    <legend>{{ feedback.title }}</legend>
    <div class="csc-feedback-content">
      {% for rating in feedback.ratings %}
      <button class="md-button md-button--primary csc-feedback-button csc-feedback-button--{{ rating.type|lower }}"
        type="submit" title="{{ rating.description }}" value="{{ rating.type }}">
        {{ rating.name }}
      </button>
      <div class="csc-feedback-note csc-feedback-note--{{ rating.type|lower }}">
        {{ rating.note }}
      </div>
      {% endfor %}
    </div>
  </fieldset>
</form>
{% endif %}