{% from "partials/commit.html" import commit_link %}
{% macro page_url(src) %}
  {{ (pages|selectattr("src_uri", "eq", src)|first).page.url|url }}
{% endmacro %}
{% macro footer_link(text, href, icon=none, target="_blank" ) -%}
  {% if not icon is none %}
    <span class="twemoji">{% include ".icons/material/" + icon + ".svg" %}</span>
  {% endif %}
    <a class="csc-footer__link" href="{{ href }}" target="{{ target }}">{{ text }}</a>
{%- endmacro %}
<footer class="md-footer">
  <nav class="md-footer__inner md-grid" aria-label="{{ lang.t('footer.title') }}" {{ hidden }}>
    <div class="csc-footer">
      <div class="csc-footer__column">
        <div class="csc-footer__heading">Contact Information</div>
        <div class="csc-footer__body">
          <strong>CSC &ndash; IT CENTER FOR SCIENCE LTD.</strong><br>P.O. Box 405 FI-02101 Espoo, Finland
        </div>
        <div class="csc-footer__body">
          {{ footer_link("+358 9 457 2001 (switchboard)", "tel:+35894572001", icon="phone") }}
        </div>
        <div class="csc-footer__body">
          {{ footer_link("Additional information at CSC.fi", "https://www.csc.fi/en/about-us/contact-information/") }}
        </div>
      </div>
      <div class="csc-footer__column">
        <div class="csc-footer__heading">Service Desk</div>
        <div class="csc-footer__body">
          Open Monday to Friday<br>
          from 8.30 a.m. to 4 p.m.
        </div>
        <div class="csc-footer__body">
          <ul>
            <li>{{ footer_link("Contact form", "https://research.csc.fi/support", icon="form-textbox") }}</li>
            <li>{{ footer_link("servicedesk@csc.fi", "mailto:servicedesk@csc.fi", icon="email") }}</li>
            <li>{{ footer_link("+358 9 4572821", "tel:+35894572821", icon="phone") }}</li>
          </ul>
        </div>
      </div>
      <div class="csc-footer__column">
        <div class="csc-footer__heading">Info</div>
        <div class="csc-footer__body">
          <ul>
            <li>{{ footer_link("Maintenance breaks", "https://research.csc.fi/service-breaks/" ) }}</li>
            <li>{{ footer_link("Accessibility statement", page_url("support/accessibility.md"), target="_self") }}</li>
            <li>{{ footer_link("User communications archives", page_url("support/contact.md")+"#archives", target="_self") }}</li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="md-footer-meta md-typeset">
    <div class="md-footer-meta__inner md-grid">
      {% include "partials/copyright.html" %}
      {% if page and page.git %}
      {{ commit_link(page.git.head, config.repo_url, status=page.git.status) }}
      {% endif %}
      {% if config.extra.social %}
        {% include "partials/social.html" %}
      {% endif %}
    </div>
  </div>
</footer>
