{% set contact_links = [
    {
        'text': '+358 9 457 2001 (switchboard)',
        'url': 'tel:+35894572001',
        'target': '_blank',
        'icon': '.icons/material/phone.svg'
    },
    {
        'text': 'Additional information at CSC.fi',
        'url': 'https://www.csc.fi/contact-info/',
        'target': '_blank'
    },
] %}
{% set service_links = [
    {
        'text': 'Contact form',
        'url': 'https://research.csc.fi/support',
        'target': '_blank',
        'icon': '.icons/material/form-textbox.svg'
    },
    {
        'text': 'servicedesk@csc.fi',
        'url': 'mailto:servicedesk@csc.fi',
        'target': '_blank',
        'icon': '.icons/material/email.svg'
    },
    {
        'text': '+358 9 4572821',
        'url': 'tel:+35894572821',
        'target': '_blank',
        'icon': '.icons/material/phone.svg'
    },
] %}
{% set info_links = [
    {
        'text': 'Maintenance breaks',
        'url': 'https://research.csc.fi/service-breaks/',
        'target': '_blank'
    },
    {
        'text': 'Accessibility statement',
        'url': '/support/accessibility/',
        'target': '_self'
    },
] %}
<footer class="md-footer">
    <nav class="md-footer__inner md-grid" aria-label="{{ lang.t('footer.title') }}" {{ hidden }}>
        <div class="csc-footer">
            <div class="csc-footer__column">
                <div class="csc-footer__heading">Contact Information</div>
                <div class="csc-footer__body">
                    <strong>CSC &ndash; IT CENTER FOR SCIENCE LTD.</strong><br>P.O. Box 405 FI-02101 Espoo, Finland
                </div>
                <div class="csc-footer__body">
                    {% for link in contact_links[0:1] %}
                    <span class="twemoji">
                        {% include link.icon %}
                    </span>
                    <a class="csc-footer__link"
                           href="{{ link.url }}"
                           target="{{ link.target }}">
                            {{ link.text }}
                    </a>
                    {% endfor %}
                </div>
                <div class="csc-footer__body">
                    {% for link in contact_links[1:2] %}
                        <a class="csc-footer__link"
                           href="{{ link.url }}"
                           target="{{ link.target }}">
                           {{ link.text }}
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="csc-footer__column">
                <div class="csc-footer__heading">Service Desk</div>
                <div class="csc-footer__body">
                    Open Monday to Friday<br>
                    from 8.30 a.m. to 4 p.m.
                </div>
                <div class="csc-footer__body">
                    {% for link in service_links %}
                        <span class="twemoji">
                            {% include link.icon %}
                        </span>
                        <a class="csc-footer__link"
                           href="{{ link.url }}"
                           target="{{ link.target }}">
                           {{ link.text }}
                        </a>
                        <br>
                    {% endfor %}
                </div>
            </div>
            <div class="csc-footer__column">
                <div class="csc-footer__heading">Info</div>
                <div class="csc-footer__body">
                    {% for link in info_links %}
                        <a class="csc-footer__link"
                           href="{{ link.url }}"
                           target="{{ link.target }}">
                            {{ link.text }}
                        </a><br>
                    {% endfor %}
                </div>
                </div>
        </div>
    </nav>
    <div class="md-footer-meta md-typeset">
        <div class="md-footer-meta__inner md-grid">
            {% include "partials/copyright.html" %}
            {% if config.extra.social %}
                {% include "partials/social.html" %}
            {% endif %}
        </div>
    </div>
</footer>
