<div class="pre-header">
  <ul>
    <li>
      <a href="https://research.csc.fi" target="_blank">Services for research</a>
    </li>
    <li class="current-site">
      <a href="{{ config.site_url | url }}">Docs CSC <span class="hidden">- User guides</span></a>
    </li>
    <li>
      <a href="https://my.csc.fi/" target="_blank">MyCSC <span class="hidden">- User portal</span></a>
    </li>
    <li>
      <a href="https://www.csc.fi/" target="_blank">csc.fi <span class="hidden">- Company site</span></a>
    </li>
  </ul>
</div>
