/* Collapsible admonitions are not supported ATM. */
.md-typeset :is(details, summary) {
  display: none !important;
}

.md-typeset .admonition {
  box-shadow: unset;
  border: 2px solid;
  border-radius: 6px;
  border-left-width: 14px;
  font-size: medium;
  font-weight: var(--csc-font-weight--regular);
}

.md-typeset .admonition-title::before {
  display: none;
}

.md-typeset .admonition-title {
  margin: unset !important;
  padding: unset !important;
  padding-top: .6rem !important;
  font-weight: var(--csc-font-weight--bold);
  background-color: unset !important;
}

.md-typeset .admonition-title + * {
  margin-top: 0;
}

.md-typeset .admonition:not(
  .default,
  .info,
  .success,
  .warning,
  .error
) {
  border: unset;
  background-color: var(--csc-admonition--bg);
  color: var(--csc-admonition--fg);
}

.md-typeset .admonition.default {
  border-color: var(--csc-admonition-default--border);
}

.md-typeset .admonition.default-label {
  border-color: var(--csc-admonition-default-label--fg) !important;
  color: var(--csc-admonition-default-label--fg);
  background-color: var(--csc-admonition-default-label--bg);
}

.md-typeset .admonition.info {
  border-color: var(--csc-admonition-info--border);
}

.md-typeset .admonition.info-label {
  border-color: var(--csc-admonition-info-label--fg) !important;
  color: var(--csc-admonition-info-label--fg);
  background-color: var(--csc-admonition-info-label--bg);
}

.md-typeset .admonition.success {
  border-color: var(--csc-admonition-success--border);
}

.md-typeset .admonition.success-label {
  border-color: var(--csc-admonition-success-label--fg) !important;
  color: var(--csc-admonition-success-label--fg);
  background-color: var(--csc-admonition-success-label--bg);
}

.md-typeset .admonition.warning {
  border-color: var(--csc-admonition-warning--border);
}

.md-typeset .admonition.warning-label {
  border-color: var(--csc-admonition-warning-label--fg) !important;
  color: var(--csc-admonition-warning-label--fg);
  background-color: var(--csc-admonition-warning-label--bg);
}

.md-typeset .admonition.error {
  border-color: var(--csc-admonition-error--border);
}

.md-typeset .admonition.error-label {
  border-color: var(--csc-admonition-error-label--fg) !important;
  color: var(--csc-admonition-error-label--fg);
  background-color: var(--csc-admonition-error-label--bg);
}

.md-typeset .admonition:is(
  .default-label,
  .info-label,
  .success-label,
  .warning-label,
  .error-label
) {
  max-width: max-content;
  border: var(--csc-border);
  font-weight: var(--csc-font-weight--regular);
}

.md-typeset .admonition:is(
  .default-label,
  .info-label,
  .success-label,
  .warning-label,
  .error-label
) > .admonition-title {
  display: none;
}

.md-typeset .admonition:is(
  .default-label,
  .info-label,
  .success-label,
  .warning-label,
  .error-label
) > :nth-child(2) {
  margin-top: .1rem;
}

.md-typeset .admonition:is(
  .default-label,
  .info-label,
  .success-label,
  .warning-label,
  .error-label
) > :last-child {
  margin-bottom: .1rem;
}
