.csc-breadcrumbs {
  margin-bottom: .6rem;
  color: var(--md-default-fg-color);
}

.csc-breadcrumbs__link {
  color: var(--md-default-fg-color) !important;
  text-decoration: none !important;
}

.csc-breadcrumbs__link:is(:focus, :hover) {
  color: var(--md-accent-fg-color) !important;
  background-color: transparent !important;
}

.csc-breadcrumbs__link::after {
  content: "";
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  margin: 0 .5em;
  transform: translateY(.22rem);
  mask-image: var(--md-nav-icon--next);
  -webkit-mask-image: var(--md-nav-icon--next);
  background-color: currentColor;
  color: inherit;
}
