.md-typeset code {
    border-radius: var(--csc-border-radius);
    font-size: var(--csc-font-size--small);
    font-weight: var(--csc-font-weight--regular);
}

.md-clipboard {
    color: var(--md-default-fg-color--lighter);
}

.md-clipboard:is(:focus, :hover) {
    color: var(--md-typeset-a-color);
}

.md-typeset :is(h1, h2, h3, h4, h5, h6) code {
    font-size: inherit;
    background-color: inherit;
    padding: unset;
}
