main > .md-main__inner.md-grid {
  margin-top: unset;
  max-width: var(--csc-content-width);
}

.md-typeset {
  font-size: medium;
}

.md-typeset .md-icon {
  border-radius: 100%;
}

.md-typeset h1 {
  color: var(--md-primary-fg-color);
  font-weight: var(--csc-font-weight--regular);
}

.md-typeset :is(h2, h3, h4, h5, h6) {
  font-weight: var(--csc-font-weight--bold);
}

.md-typeset a {
  text-decoration: underline;
}

.md-typeset a:hover {
  color: var(--md-typeset-a-color);
  background-color: var(--md-accent-bg-color);
}

.md-typeset :is(
  .highlight,
  .tabbed-labels>label
) :is(a, a:hover) {
  text-decoration: inherit;
  color: inherit;
}

.md-typeset strong {
  font-weight: var(--csc-font-weight--bold);
}

.md-typeset small {
  opacity: 100%;
}

.md-typeset hr {
  border: unset;
  border-top: var(--csc-border);
}

[dir="ltr"] .md-typeset blockquote {
  border-left: 4px solid var(--md-primary-fg-color);
  border-radius: var(--csc-border-radius);
  color: var(--md-primary-fg-color);
}

.md-typeset .tabbed-labels > label > a {
  color: var(--md-primary-fg-color) !important;
}

.md-typeset .tabbed-set .tabbed-labels::before {
  background-color: var(--md-primary-fg-color);
}

.md-typeset .md-button {
  border-radius: var(--csc-border-radius);
  text-decoration: none;
}

.md-typeset figcaption {
  color: var(--c-tertiary-700);
}
