.md-header {
  box-shadow: var(--csc-box-shadow--header);
  color: var(--md-default-fg-color);
  background-color: var(--md-default-bg-color);
}

.md-header__inner {
  max-width: var(--csc-content-width);
  height: var(--csc-header-height);
}

.md-header__button.md-logo :is(img, svg) {
  height: 3.5em;
}

.md-search__form {
  background-color: var(--md-default-fg-color--lightest);
}

.md-search__form:hover {
  border: var(--csc-border);
}


.md-search__icon.md-icon svg {
  fill: var(--md-default-fg-color);
}

.md-search__input::placeholder {
  opacity: 100%;
  color: var(--md-default-fg-color);
}

.md-search-result__link:is(:focus, :hover) {
  background-color: var(--md-accent-bg-color--light);
}