.quick-links-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.quick-links-topic {
  margin: 1em;
  padding: 1em;
  flex-grow: 1;
  box-shadow: var(--csc-box-shadow--quicklinks);
}

.quick-links-title h3 {
  margin-top: 0;
  margin-bottom: 0.3em;
}
