.pre-header {
  background-color: var(--c-primary-200);
  color: var(--c-tertiary-700);
  font-size: small;
}

.pre-header > ul {
  display: flex;
  position: relative;
  box-sizing: border-box;
  max-width: var(--csc-content-width);
  list-style: none;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.pre-header > ul > li {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.pre-header > ul > li.current-site {
  background-color: var(--c-white);
}

.pre-header > ul > li > a {
  display: block;
  padding: .5em;
}

.pre-header > ul > li > a .hidden {
  display: none;
}

.pre-header > ul > li > a[target="_blank"]::after {
  content: var(--csc-external-link-icon);
  display: inline-block;
  vertical-align: middle;
  margin-left: .125rem;
  width: 24px;
  aspect-ratio: 1/1;
}

@media screen and (min-width: 76.25em) {
  .pre-header > ul > li:last-child {
    position: absolute;
    right: 0;
  }
}

@media screen and (min-width: 60em) {
  .pre-header > ul > li > a > .hidden {
    display: inline;
  }
}

@media screen and (min-width: 40em) {
  .pre-header > ul > li > a {
    padding: .5em 1em;
  }

  .pre-header > ul > li > a[target="_blank"]::after {
    margin-left: .5rem;
  }
}
