/* Hide a redundant 'Docs CSC' title over navigation sidebar */
@media screen and (min-width: 76.25em) {
  main nav .md-nav__title[for="__drawer"] {
    display: none;
  }
}

/* Background color for Repository link when on navigation menu for narrow screens */
@media screen and (max-width: 59.984375em) {
  .md-nav__source {
    background-color: var(--c-primary-500);
  }
}

/* Render the CSC logo as white in navigation menu for narrow screens */
main nav .md-nav__title[for="__drawer"] > .md-nav__button.md-logo > img {
  filter: brightness(0) invert(1);
}

/* Emphasize active nav items */
main nav .md-nav__toggle:checked~.md-nav__link {
  color: var(--md-primary-fg-color--light);
}

main nav .md-nav__item .md-nav__link--active {
  color: var(--md-primary-fg-color--light);
  text-decoration: underline;
}
