.md-typeset .app-heading-row {
  margin: 0 0 1.25em;
}

.md-typeset .app-heading {
  margin: unset;
}

.md-typeset .app-description {
  font-weight: 300;
  text-align: center;
  color: var(--c-tertiary-800);
}

.md-typeset .app-heading-row .app-description {
  font-size: 1.50em;
}

.md-typeset .app-link {
  margin-right: 1em;
}

.md-typeset nav .app-tags {
  margin: 0 0 .75em;
}

.md-typeset c-accordion-item {
  margin-bottom: 1em;
}
