.md-typeset .md-tag {
  border: 1px solid var(--md-primary-fg-color);
  color: var(--md-primary-fg-color);
  background-color: transparent;
  border-radius: 15px;
  font-weight: 400;
  text-decoration: none;
}

.md-typeset :target>.md-tag {
  color: var(--md-primary-bg-color);
  background-color: var(--md-primary-fg-color);
}

.md-typeset .md-tag:is(:active, :hover) {
  background-color: var(--md-accent-bg-color);
}
