.md-tag {
  border: 1px solid var(--md-primary-fg-color);
  color: var(--md-primary-fg-color) !important;
  background-color: transparent !important;
  border-radius: 15px;
  font-weight: 400 !important;
  text-decoration: none !important;
}

:target>.md-tag {
  color: var(--md-primary-bg-color) !important;
  background-color: var(--md-primary-fg-color) !important;
}

a.md-tag:is(:active, :hover) {
  background-color: var(--md-accent-bg-color) !important;
}
