/* Museo Sans font */
@import url("https://use.typekit.net/csv4mjm.css");
/* CSC Design System custom properties */
@import url(https://cdn.jsdelivr.net/npm/@cscfi/csc-ui@2.1.11/dist/styles/css/theme.css);

:root {
  --md-text-font: "museo-sans";

  --csc-admonition-default--border: var(--c-primary-600);
  --csc-admonition-default-label--fg: var(--c-primary-900);
  --csc-admonition-default-label--bg: var(--c-primary-200);
  --csc-admonition-info--border: var(--c-info-600);
  --csc-admonition-info-label--fg: var(--c-info-900);
  --csc-admonition-info-label--bg: var(--c-info-200);
  --csc-admonition-success--border: var(--c-success-600);
  --csc-admonition-success-label--fg: var(--c-success-900);
  --csc-admonition-success-label--bg: var(--c-success-200);
  --csc-admonition-warning--border: var(--c-warning-600);
  --csc-admonition-warning-label--fg: var(--c-warning-900);
  --csc-admonition-warning-label--bg: var(--c-warning-200);
  --csc-admonition-error--border: var(--c-error-600);
  --csc-admonition-error-label--fg: var(--c-error-900);
  --csc-admonition-error-label--bg: var(--c-error-200);

  --csc-header-height: 71px;
  --csc-content-width: 72rem;

  --csc-border-radius: 4px;
  --csc-border: 1px solid var(--c-tertiary-200);

  --csc-box-shadow--header: 0px 8px 8px -2px #00000029;
  --csc-box-shadow--quicklinks: 2px 4px 10px #00000029;

  --csc-font-weight--regular: 500;
  --csc-font-weight--bold: 700;

  --csc-admonition--fg: #806420;
  --csc-admonition--bg: #FDF3D1;
}
