{% from config.extra.sw_catalog.templates_dir ~ '/macros/tags.html'
   import render_tag as tag %}
{%- macro render_item(app, exclude_tags=[]) -%}

  {% set system_tags %}
    {% if app.available_on is sequence and 'availability' not in exclude_tags %}
      {% for system in app.available_on %}
        {% if system is string %}
          {{ tag(system, page.url|url, compact=true) }}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endset %}

  {% set interface_tags %}
    {% if app.available_on is sequence and 'availability' not in exclude_tags %}
      {% for system in app.available_on %}
        {% if system is mapping %}
          {% if system.web_interfaces is sequence %}
            {% set web_uis = system.web_interfaces %}
            {% for web_ui in web_uis %}
              {% if web_ui is string %}
                {{ tag(web_ui, '/sw-catalog', badge='Web UI', compact=true) }}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endset %}

  {% set discipline_tags %}
    {% if app.disciplines is sequence and 'discipline' not in exclude_tags %}
      {% for discipline in app.disciplines %}
        {{ tag(discipline, page.url|url, badge='discipline', compact=true) }}
      {% endfor %}
    {% endif %}
  {% endset %}

  {% set license_tags %}
    {% if app.license_type is string and 'license' not in exclude_tags %}
      {{ tag(app.license_type, page.url|url, badge='license', compact=true) }}
    {% endif %}
  {% endset %}

  <c-list-item>
    <c-list-item-title>
        <c-link href="{{ app.page.url|url }}">
          {{ app.name }}
        </c-link>
      </c-list-item-title>
    {{ app.description }}
    <c-tags size="small" slot="post">
      {{ system_tags }}
      {{ interface_tags }}
      {{ discipline_tags }}
      {{ license_tags }}
    </c-tags>
  </c-list-item>
{%- endmacro -%}

{%- macro render_list(title, apps, exclude_tags=[]) -%}
  <h3>{{ title|capitalize if title is lower else title }}</h3>
  <c-list>
    {% for app in apps %}
      {{ render_item(app, exclude_tags=exclude_tags) }}
    {% endfor %}
  </c-list>
{%- endmacro -%}

{%- macro render_group(title, group, exclude_tags=[]) -%}
  <h2>{{ title|capitalize }}</h2>
  {% for list_title, apps in group|items %}
    {{ render_list(list_title, apps, exclude_tags=exclude_tags) }}
  {% endfor %}
{%- endmacro -%}
